################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dotnet
/.dotnet-cli/.dotnet
/.dotnet-home/.dotnet
/.vs
/bin
*.user
*.suo
*.userosscache
*.sln.docstates
/IecSlaveSimulator/obj/x64/Debug/net48
/IecSlaveSimulator/obj/Release/net48
/obj
/packages
/Vendor/lib60870/obj
/Vendor/lib60870/bin
/IecSlaveSimulator/bin/x64/Debug/net48
/IecSlaveSimulator/bin
/IecSlaveSimulator/obj
/DocTestReference
/Installer/IEC101MasterTester.iss
